/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*Подключенные шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');
FontName {font-family: 'Montserrat', sans-serif;}
   
@font-face {
    font-family: 'BeatrixAntiqua';   
    src: local('BeatrixAntiqua'),         
    url('../fonts/BeatrixAntiqua-SemiBold.ttf') format('truetype'),         
    url('../fonts/BeatrixAntiqua-SemiBold.eot?#iefix') format('embedded-opentype'),        
    url('../fonts/BeatrixAntiqua-SemiBold.woff') format('woff');    
    font-weight: 600;    
    font-style: normal;
    }
@font-face {
    font-family: 'BeatrixAntiqua';   
    src: local('BeatrixAntiqua'),         
    url('../font/BeatrixAntiqua-ThinTrial.ttf') format('truetype'),         
    url('../font/BeatrixAntiqua-ThinTrial.eot?#iefix') format('embedded-opentype'),        
    url('../font/BeatrixAntiqua-ThinTrial.woff') format('woff'), 
    url('../font/BeatrixAntiqua-ThinTrial.woff2') format('woff2');   
    font-weight: 100;    
    font-style: normal;
    }
/*--------------------*/